<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!-- Menu -->
    <title>Dashboard</title>
    <link rel="icon" href="/image/public/logo/logo.png" type="">
    <link rel="stylesheet" href="/resources/css/private/dashboard_style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/icons/boxicons.min.css">i
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">Acotremyss</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <div class="profile-details">
            <div class="profile-btn">
                <div class="btn-user">
                    <a href="#"><i class='bx bxs-user'></i></a>
                </div>
                <div class="btn_three_points">
                    <a href="#">
                        <i class='bx bxs-grid'></i>
                    </a>

                </div>
            </div>
            <div class="profile-content">
                <img src="/image/private/people/charlie.jpg" alt="profileImg" id="img-perfil">
            </div>
            <div class="name-gmail">
                <div class="profile_name">Hola Charlie</div>
                <div class="gmail">montanoroberto@gmail.com</div>
            </div>
        </div>
        <ul class="nav-list">
         
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">User</span>
                </a>
                <span class="tooltip">User</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Messages</span>
                </a>
                <span class="tooltip">Messages</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">File Manager</span>
                </a>
                <span class="tooltip">Files</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">Order</span>
                </a>
                <span class="tooltip">Order</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Saved</span>
                </a>
                <span class="tooltip">Saved</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
            </li>
            
            <li class="profile">
                
                <a href="#"><i class='bx bx-door-open'></i></a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="text">Dashboard</div>
    </section>
    <!--para que funcione el menu-->
    <script src="/resources/js/private/dashboard_script.js"></script>
</body>

</html>