<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!-- Menu -->
    <title>Dashboard</title>
    <link rel="icon" href="/image/public/logo/logo.png" type="">
    <link rel="stylesheet" href="/resources/css/private/dashboard_style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/icons/boxicons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
        <!--<i class='bx bxl-c-plus-plus icon'></i>-->
            <div class="logo_name">SAC</div>
           <!--<i class='bx bx-menu' id="btn"></i>-->
        </div>
        <div class="profile-details">
            <div class="profile-btn">
                <div class="btn-user">
                    <a href="#"><i class='bx bxs-user'></i></a>
                </div>
                <div class="btn_three_points">
                    <a href="#">
                        <i class='bx bxs-grid'></i>
                    </a>
                </div>
            </div>
            <div class="profile-content">
                <img src="/image/private/people/charlie.jpg" alt="profileImg" id="img-perfil">
            </div>
            <div class="name-gmail">
                <div class="profile_name">Hola Charlie</div>
                <div class="gmail">montanoroberto@gmail.com</div>
            </div>
        </div>
        <ul class="nav-list">
         
            <li>
                <a href="#">
                    <i class='bx bx-home-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
                
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder'></i>                    <span class="links_name">Solicitudes</span>
                </a>
                <span class="tooltip">Solicitudes</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-group'></i>
                    <span class="links_name">Asociados</span>
                </a>
                <span class="tooltip">Asociados</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-trending-up'></i>                    <span class="links_name">Beneficios</span>
                </a>
                <span class="tooltip">Beneficios</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-edit' ></i>
                    <span class="links_name">Control</span>
                </a>
                <span class="tooltip">Control</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-sitemap'></i>
                    <span class="links_name">Sistema</span>
                </a>
                <span class="tooltip">Sistema</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-log-out' ></i>
                    <span class="links_name">Cerrar sistema</span>
                </a>
                <span class="tooltip">Cerrar sistema</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Ajustes</span>
                </a>
                <span class="tooltip">Ajustes</span>
            </li>
            
           <!-- <li class="profile">
                
                <a href="#"><i class='bx bx-door-open'></i></a>
            </li>-->
        </ul>
    </div>
    <section class="home-section">
        
        <div class="text"><i class='bx bx-menu' id="btn"></i>    Dashboard</div>  
             
    </section>
    <!--para que funcione el menu-->
    <script src="/resources/js/private/dashboard_script.js"></script>
</body>

</html>